:root * {
    --inlang-color-primary-50: #f0f5ff;
    --inlang-color-primary-100: #dfe3ff;
    --inlang-color-primary-200: #bfcfff;
    --inlang-color-primary-300: #9faaff;
    --inlang-color-primary-400: #8096ff;
    --inlang-color-primary-500: #607dff;
    --inlang-color-primary-600: #4c63e7;
    --inlang-color-primary-700: #4055dc;
    --inlang-color-primary-800: #35469c;
    --inlang-color-primary-900: #2d3a8c;
    --inlang-color-primary-950: #19216c;
}