@use '../../styles/utils.scss' as *;

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
  color: white;
  width: 11.5rem;
  height: 2.063rem;
  background-color: #0290ff;
  border-radius: 3px;
  border: none;
  margin-top: 2em;
  transform-origin: top right;

  &:hover {
    background-color: #0064b1;
  }

  .btnContainer {
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 100%;
    height: 100%;

    .btn {
      font-family: $second-font;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      width: 5em;
      height: 50px;
      background-color: white;
      border-radius: 8px;
      border: none;
      justify-self: center;
      transition: ease-in scale 0.1s;

      &:hover {
        scale: 1.1;
      }

      &:active {
        background-color: #02d9ff;
        scale: 0.9;
      }
    }

    .close {
      grid-column: span 2;
      font-size: 1rem;
      color: white;
      background-color: transparent;
      border: none;
      padding: 0 1em;
      margin-left: auto;

      &:hover {
        color: orange;
      }
    }
  }
}
