html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;
}
body {
    width: 100%;
    height: 100%;
    max-width: 1280px;
}
#storybook-root {
    width: 100%;
    height: 100%;
}
#root-inner {
    width: 100%;
    height: 100%;
}