# Fix for storybook:  
# We've detected you are running npm 8.18.0                                                       │
# │    which has peer dependency semantics which Storybook is incompatible with.                      │
# │                                                                                                   │
# │   In order to work with Storybook's package structure, you'll need to run `npm` with the          │
# │   `--legacy-peer-deps=true` flag. We can generate an `.npmrc` which will do that automatically.   │
# │                                                                                                   │
# │   More info: https://github.com/storybookjs/storybook/issues/18298  
legacy-peer-deps=true
