# REALLY CRUCIAL SETTING! 
# 
# Without this setting, npm workspaces runs into endless doppelgänger 
# dependencies. 
# 
# https://github.com/npm/rfcs/issues/287#issuecomment-1657277065
install-strategy = "nested"