# REALLY CRUCIAL SETTING! 
# 
# Without this setting, npm workspaces runs into endless phantom 
# dependencies. 
# 
# https://github.com/npm/rfcs/issues/287#issuecomment-1657277065
install-strategy = "nested"

# ANOTHER CRUCIAL SETTING!
# 
# Save-exact ensures that installing new packages 
# will not be pre-fixed with "^". Instead, versions
# are hardpinned in the package.json file. Super benfitial
# given that package.lock files are not created for workspace
# modules.  
save-exact=true