/* messages webview */

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WUI", "Ubuntu", sans-serif;
	color: var(--vscode-foreground);
	background-color: var(--vscode-sideBar-background);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: text;
	-webkit-user-select: text;
}

.collapsible {
	color: var(--vscode-foreground);
	background-color: var(--vscode-sideBar-background);
	font-size: 13px;
	cursor: pointer;
	padding: 5px 8px;
	border: none;
	text-align: left;
	outline: none;
	display: flex;
	height: 19px;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}

.collapsible:hover {
	background-color: var(--vscode-list-hoverBackground);
}

.collapsible .messageId {
	user-select: none;
	display: inline-flex;
	gap: 5px;
	width: 100%;
}

.collapsible .chevron {
	transition: transform 0.2s ease;
}

.collapsible.active .chevron {
	transform: rotate(90deg);
}

.collapsible .messageId span {
	text-overflow: ellipsis;
	white-space: nowrap;
}

.collapsible:hover .actionButtons {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: flex-end;
}

.actionButtons {
	display: none;
}

.content {
	display: none;
}

.aliases {
	display: inline-flex;
	gap: 5px;
	width: 100%;
	height: 18px;
	padding: 5px 8px 4px 8px;
	border-bottom: 1px solid var(--vscode-sideBar-border);
	font-size: 13px;
	cursor: pointer;
	user-select: none;
	opacity: 0.8;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table .section {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	gap: 8px;
	padding: 5px 10px 4px 10px;
	border-top: 1px solid var(--vscode-sideBar-border);
	font-size: 13px;
	cursor: pointer;
	user-select: none;
}

.table .section:last-child {
	border-bottom: 1px solid var(--vscode-sideBar-border);
}

.table .section .languageTag {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-inline-start: 8px;
}

.table .section .message {
	width: 100%;
}

.table .section .message button {
	width: 100%;
	text-overflow: ellipsis;
}

.table .section .actionButtons {
	align-self: flex-start;
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: flex-end;
}

.table button {
	all: unset;
}

.highlighted-section {
	margin-bottom: 5px;
}

main {
	margin-bottom: 5px;
}

.banner {
	display: flex;
	align-items: center;
	background-color: var(--vscode-sideBar-background);
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 10px;
}

.loading,
.no-messages {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 13px;
	margin: 5px 10px;
	color: var(--vscode-sideBar-foreground);
}

.active-dot {
	display: inline-block;
	height: 8px;
	width: 8px;
	background-color: green;
	border-radius: 50%;
	margin-right: 8px;
	vertical-align: middle;
}

#searchInput {
	width: calc(100% - 20px);
	margin: 10px;
	padding: 4px 6px;
	box-sizing: border-box;
	background-color: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-border);
	color: var(--vscode-input-foreground);
}

#searchInput:focus {
	outline-color: var(--vscode-focusBorder);
}

#searchInput::placeholder {
	color: var(--vscode-input-placeholderForeground);
}
