.mainContainer {
  margin: 2rem 6rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 580px;

  .listContainer {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;
  }
}
