<script>
    import * as m from "$paraglide/messages.js"
    import { availableLanguageTags } from "$paraglide/runtime.js"
    import { base } from "$app/paths"
    import { i18n } from "$lib/i18n.js"
    import {page} from "$app/stores"
</script>

# {m.about()}

[{m.home()}]({base}/)

{#each availableLanguageTags as lang}
    <a href={i18n.route($page.url.pathname)} hreflang={lang}>
    {m.change_language_to({ languageTag: lang })}
    </a>
    <br />
{/each}