.diff-create {
  color: green;
  text-decoration: none;
  outline: none;
}
.diff-update {
  color: orange;
  text-decoration: none;
  outline: none;
}
.diff-delete {
  color: red;
  text-decoration: none;
  outline: none;
  /* contenteditable: false; */
}
