.diff-created {
  color: green;
  text-decoration: none;
  outline: none;
}
.diff-updated {
  color: orange;
  text-decoration: none;
  outline: none;
}
.diff-deleted {
  color: red;
  text-decoration: none;
  outline: none;
  /* contenteditable: false; */
}
