.dropzone-container {
}

.dropzone-file-wrapper:hover {
	background: var(--figma-color-bg-hover);
	border: 1px dashed var(--figma-color-border-selected);
}

.dropzone-file-wrapper {
	vertical-align: middle;
	display: table-cell;
	position: relative;
	overflow: hidden;
	padding: 16px 8px;
	border-radius: 6px;
	border: 1px dashed var(--figma-color-border-strong);
	background: var(--figma-color-bg);
	width: 444px;
}

.dropzone-file-wrapper input {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	opacity: 0;
	font-size: 300px;
	height: 100%;
}

.dropzone-icon {
	width: 32px;
	height: 32px;
	margin-right: 8px;
}

.dropzone-icon .icon-import {
	width: 32px;
	height: 32px;
	cursor: default;
	color: var(--figma-color-text);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.dropzone-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: top;
	-ms-flex-align: top;
	align-items: top;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 0 16px 0 0;
	cursor: default;
}

.dropzone-info-msg {
	padding: 8px 0 8px 0;
	color: var(--figma-color-text);
	font-family: Inter, sans-serif;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.005em;
}
