@use '../../styles/utils.scss' as *;

.navBar {
  background-color: white;
  box-shadow: rgba(128, 128, 128, 0.1) 1px 1px 10px;
  height: 100px;
  padding: 0 6rem;

  .btn {
    width: 2.813rem;
    height: 2.813rem;
    border-radius: 50%;
    border: solid 1px #e8e8e8;
    background-color: #fff;
    margin-left: auto;
  }

  .userIcon {
    width: 1.063rem;
    height: 1.063rem;
    color: #0290ff;
  }

  .logo {
    font-family: $second-font;
    color: #0290ff;
    font-size: 1.875rem;
    font-weight: bold;
  }

  .mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    height: 100%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      height: 100%;
    }
  }
}
