@import "tailwindcss";

@theme {
	/* Animations */
	--animate-slideIn: slideIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
	--animate-slideOut: slideOut 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
	--animate-blendIn: blendIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;

	@keyframes slideIn {
		0% {
			transform: translate(0px, 80px);
		}
		75% {
			transform: translate(0px, -8px);
		}
		100% {
			transform: translate(0px, 0);
		}
	}

	@keyframes slideOut {
		0% {
			transform: translate(0px, 0);
		}
		25% {
			transform: translate(0px, -8px);
		}
		100% {
			transform: translate(0px, 80px);
		}
	}

	@keyframes blendIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

/* .inlang-pattern-editor-neu .inlang-pattern-editor-contenteditable {
    background-color: #B2F4D4;
    border: 1px solid #16A34B;
}
.inlang-pattern-editor-old .inlang-pattern-editor-contenteditable {
    background-color: #F3C9CD;
    border: 1px solid #DA2728;
} */

.highlighted-bundle inlang-message::part(new-variant) {
	display: none;
}
.highlighted-bundle::part(add-variable) {
	display: none;
}
.highlighted-bundle .highlight-red .inlang-pattern-editor-contenteditable,
.highlighted-bundle .highlight-match-red::part(match),
.highlighted-bundle .highlight-selector-red::part(selector),
.highlighted-bundle.highlight-variables-red::part(variable) {
	background-color: #f3c9cd !important;
	border: 1px solid #da2728 !important;
}

.highlighted-bundle .highlight-green .inlang-pattern-editor-contenteditable,
.highlighted-bundle .highlight-match-green::part(match),
.highlighted-bundle .highlight-selector-green::part(selector),
.highlighted-bundle.highlight-variables-green::part(variable) {
	background-color: #b2f4d4 !important;
	border: 1px solid #16a34b !important;
}

.conflict-pattern .inlang-pattern-editor-contenteditable {
	background-color: #fafafa;
}

.hide-new-variant::part(new-variant) {
	display: none;
}

p {
	line-height: 15px;
}

.add-selector-dialog::part(body) {
	padding: 0;
}

sl-dialog::part(panel) {
	border-radius: 8px;
}

sl-details::part(header) {
	padding-block: 0.5rem;
	padding-inline: 0.75rem;
}
