[data-diff-status="added"] {
  color: #1f883d;
  text-decoration: none;
  outline: none;
}
[data-diff-status="modified"] {
  color: #f59e0b;
  text-decoration: none;
  outline: none;
}
[data-diff-status="removed"] {
  color: #d1242f;
  text-decoration: none;
  outline: none;
  /* contenteditable: false; */
}

/* Strikethrough only for word-level diffing */
[data-diff-mode="words"] [data-diff-status="removed"] {
  text-decoration: line-through;
}
