@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white;
}

h1 {
  @apply text-5xl font-semibold;
}

h2 {
  @apply text-2xl sm:text-3xl font-semibold;
}

a {
  @apply transition-colors;
}

p {
  @apply text-slate-500;
}

.card {
  @apply p-4 md:p-6 bg-slate-100 ring-1 ring-slate-200 rounded-lg;
}

details[open] > summary::after {
  transform: rotate(180deg);
}

details summary::-webkit-details-marker {
  display: none;
}

.slanted {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}