.setup-baselanguage-select {
	width: 100%;
	display: flex;
	align-items: center;
}

.available-language {
	display: flex;
}

.available-language .svg-container {
	align-self: center;
}

.available-language .language {
	align-self: center;
	padding-left: 8px;
}

.onboarding-buttonbar {
	display: flex;
	margin-right: 15px;
	height: 100px;
}

.onboarding-buttonbar .button {
	margin-left: auto;
	margin-top: auto;
}

button.button--buttonPrimary {
	background-color: var(--figma-color-bg-brand);
	color: var(--figma-color-text-onbrand);
	border-color: var(--figma-color-border-brand);
}

button.button--buttonPrimary:disabled {
	background-color: var(--figma-color-bg-disabled);
	color: var(--figma-color-text-ondisabled);
	border-color: var(--figma-color-border-disabled);
}

.space-filler {
	flex: 1;
}

.view-wrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
	/* overflow: scroll; */
}
