# ------------------------------------
# Example env file. 
# 
# Duplicate this file and rename it to `.env` to get started. 
# 
# ------------------------------------

# https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
GITHUB_PERSONAL_ACCESS_TOKEN="<your personal access token>"

# url and port of of @inlang/cors-proxy 
VITE_VITE_CORS_PROXY_URL="http://localhost:3001"