# ------------------------------------
# Example env file. 
# 
# Duplicate this file and rename it to `.env` to get started. 
# 
# ------------------------------------


# Exactly 32 characters long string which is base64 encoded.
# Example: `S2V5LU11c3QtQmUtMTYtb3ItMzItb3ItNjQtYnllZWU=`
JWE_SECRET_KEY="<secret key>"

# 50a45f4482cd28494437a0f128cd0b6158cf6176
GITHUB_APP_CLIENT_SECRET="<secret>"

# url and port of of @inlang/cors-proxy 
VITE_GIT_REQUEST_PROXY_PATH="/git-proxy/"

# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps
VITE_GITHUB_APP_CLIENT_ID="<client id>"


# If you want to work on the session logic uncomment the following variables
# Sign up for a free dev instance here: https://supertokens.com/docs/session/introduction
# SUPERTOKENS_CONNECTION_URI=<INSERT_SUPERTOKENS_BACKEND_SERVICE_URI>
# SUPERTOKENS_API_KEY=<INSERT_SUPERTOKENS_BACKEND_SERVICE_API_KEY>

# Probably http://localhost:3000 or http://127.0.0.1 or https://inlang.com 
# Required for supertokens to work
# VITE_FRONTEND_BASE_URL=<INSERT_FRONTEND_BASE_URL>

# Set to 'true' if you want to enable the supertokens session logic in the dev environment
# VITE_SUPERTOKENS_IN_DEV=true