# ------------------------------------
# Example env file. 
# 
# Duplicate this file and rename it to `.env` to get started. 
# 
# ------------------------------------


JWE_SECRET_KEY="<secret key>"

GITHUB_APP_CLIENT_SECRET="<secret>"

# url and port of of @inlang/cors-proxy 
VITE_GIT_REQUEST_PROXY_PATH="/git-proxy/"

# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps
VITE_GITHUB_APP_CLIENT_ID="<client id>"