@import "tailwindcss";

body {
  @apply m-0;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  color: #0f172a;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
