node_modules
locales/ar
locales/az
locales/bg
locales/ca
locales/cs
locales/da
locales/de
locales/el
locales/es-419
locales/es
locales/eu
locales/fr
locales/he
locales/hr
locales/hu
locales/id
locales/it
locales/iw
locales/ja
locales/ko
locales/nl
locales/no
locales/pl
locales/pt-BR
locales/pt
locales/ro
locales/ru
locales/sk
locales/sr
locales/sv
locales/ta
locales/tr
locales/uk
locales/vi
locales/zh-CN
locales/zh-TW
