@use '../../styles/utils.scss' as *;

.chapterContainer {
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  font-weight: 300;
  gap: 1em;

  .currentChapter {
    opacity: 0.5;
    font-size: 0.8rem;
  }

  .chapterName {
    opacity: 1;
    font-size: 1rem;
  }
}
