/* Style gets minified during development and build.   */

@import 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
	@apply p-4 rounded;
}

.link {
	@apply text-primary hover:text-hover-primary;
}

/* Replicating default border color of shoelace */
.border {
	@apply border-gray-300;
}

/* fixing none-existent border */
sl-divider {
	@apply h-px bg-gray-300;
}

/* make the dialog full screen on small devices */
@media screen and (max-width: 460px) {
	sl-dialog::part(panel) {
		@apply w-screen h-screen rounded-none;

		max-height: none;
		max-width: none;
	}
}
