name: Continuous Integration

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest]
        version: [18]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Install Doppler CLI for env (public) variables
        uses: dopplerhq/cli-action@v2

      - name: Setup Pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      # external contributors don't have access to doppler secrets
      # TODO provide limited public env vars for CI for external contributors
      - run: echo "DOPPLER_TOKEN not set, skipping CI check-all"
        if: ${{ env.DOPPLER_TOKEN == '' }}
        env:
          DOPPLER_TOKEN: ${{ secrets.DOPPLER_CI_ENV_TOKEN }}

      - run: pnpm fetch-env:internal && pnpm check-all
        if: ${{ env.DOPPLER_TOKEN != '' }}
        env:
          DOPPLER_TOKEN: ${{ secrets.DOPPLER_CI_ENV_TOKEN }}
