/* This file contains global css that is imported by the server renderer */

@import url("@shoelace-style/shoelace/dist/themes/light.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.empty-parent:has(div.group:not(:empty)) > div.show-child {
		display: none;
	}
}

/* The startup 101 font Inter https://rsms.me/inter/  */
:root {
	font-family: "Inter", sans-serif;
	--sl-input-border-color: theme(colors.outline);
	--sl-color-primary-50: var(--sl-color-cyan-50);
	--sl-color-primary-100: var(--sl-color-cyan-100);
	--sl-color-primary-200: var(--sl-color-cyan-200);
	--sl-color-primary-300: var(--sl-color-cyan-300);
	--sl-color-primary-400: var(--sl-color-cyan-400);
	--sl-color-primary-500: var(--sl-color-cyan-500);
	--sl-color-primary-600: var(--sl-color-cyan-600);
	--sl-color-primary-700: var(--sl-color-cyan-700);
	--sl-color-primary-800: var(--sl-color-cyan-800);
	--sl-color-primary-900: var(--sl-color-cyan-900);
	--sl-color-primary-950: var(--sl-color-cyan-950);
}
/* The font Inter with variable font support (if supported) */
@supports (font-variation-settings: normal) {
	:root {
		font-family: "Inter var", sans-serif;
	}
}

/* Overwriting the toast positioning. Read https://shoelace.style/components/alert?id=the-toast-stack */
.sl-toast-stack {
	right: 0;
	bottom: 0;
	top: auto !important;
}

.tree-with-lines {
	--indent-guide-width: 2px;
}

sl-textarea {
	--sl-input-border-color: none;
	--sl-input-border-color-hover: none;
	--sl-input-border-color-focus: none;
	--sl-input-color: none;
	--sl-input-background-color: none;
	--sl-input-background-color-hover: none;
	--sl-input-background-color-focus: none;
	--sl-input-focus-ring-color: none;
	--sl-input-placeholder-color: theme(colors.outline-variant);
	overflow: hidden;
	max-width: 900px;
}

sl-textarea::part(textarea) {
	overflow: hidden;
	padding: 0.375rem;
}

sl-textarea::part(base) {
	border: none;
}

sl-tooltip::part(base) {
	--sl-tooltip-background-color: theme(colors.inverted-surface);
	--sl-tooltip-color: theme(colors.on-inverted-surface);
}

sl-badge::part(base) {
	border: none;
}

sl-select::part(tag__remove-button) {
	display: none;
}

sl-select::part(listbox) {
	margin-top: 0.5rem;
	padding-top: 0.75rem;
	padding-bottom: 0.25rem;
	width: 300px;
	translate: -1px;
	z-index: 30;
	--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
		0 8px 10px -6px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}

sl-select::part(combobox) {
	/* height: 2rem; */
	padding-inline: 8px;
	padding-block: 2px;
}

sl-select::part(combobox):hover {
	border-color: theme(colors.on-surface);
	background-color: theme(colors.surface-1);
}

sl-select::part(tags) {
	gap: 4px;
	font-size: 12px;
	line-height: 140%;
	font-weight: 500;
	margin-left: 0;
}

sl-select::part(expand-icon) {
	margin-left: 8px;
	width: 9px;
	height: 9px;
}

sl-option::part(checked-icon) {
	padding-right: 12px;
}

sl-option::part(base) {
	padding-inline: 0.75rem;
}

sl-option::part(label) {
	display: flex;
	align-items: center;
	line-height: 1;
}

sl-select::part(tag) {
	--sl-input-height-small: 26px;
}

sl-tag {
	--sl-input-height-small: 26px;
}
