:root {
	--figma-color-bg: #2c2c2c;
	--figma-color-bg-brand: #0c8ce9;
	--figma-color-bg-brand-hover: #0a6dc2;
	--figma-color-bg-brand-pressed: #0a6dc2;
	--figma-color-bg-brand-secondary: #105cad;
	--figma-color-bg-brand-tertiary: #394360;
	--figma-color-bg-component: #8a38f5;
	--figma-color-bg-component-hover: #7a2ed6;
	--figma-color-bg-component-pressed: #7a2ed6;
	--figma-color-bg-component-secondary: #652ca8;
	--figma-color-bg-component-tertiary: #473956;
	--figma-color-bg-danger: #e03e1a;
	--figma-color-bg-danger-hover: #c4381c;
	--figma-color-bg-danger-pressed: #c4381c;
	--figma-color-bg-danger-secondary: #963323;
	--figma-color-bg-danger-tertiary: #60332a;
	--figma-color-bg-disabled: #757575;
	--figma-color-bg-disabled-secondary: #b3b3b3;
	--figma-color-bg-hover: #383838;
	--figma-color-bg-inverse: #ffffff;
	--figma-color-bg-onselected: #667799;
	--figma-color-bg-onselected-hover: #667799;
	--figma-color-bg-onselected-pressed: #667799;
	--figma-color-bg-pressed: #383838;
	--figma-color-bg-secondary: #383838;
	--figma-color-bg-selected: #4a5878;
	--figma-color-bg-selected-hover: #536383;
	--figma-color-bg-selected-pressed: #536383;
	--figma-color-bg-selected-secondary: #394360;
	--figma-color-bg-selected-strong: #0c8ce9;
	--figma-color-bg-selected-tertiary: #394360;
	--figma-color-bg-success: #198f51;
	--figma-color-bg-success-hover: #078348;
	--figma-color-bg-success-pressed: #078348;
	--figma-color-bg-success-secondary: #0a5c35;
	--figma-color-bg-success-tertiary: #476656;
	--figma-color-bg-tertiary: #444444;
	--figma-color-bg-warning: #f3c11b;
	--figma-color-bg-warning-hover: #f2b50d;
	--figma-color-bg-warning-pressed: #f2b50d;
	--figma-color-bg-warning-secondary: #e4a711;
	--figma-color-bg-warning-tertiary: #5c4100;
	--figma-color-border: #444444;
	--figma-color-border-brand: #105cad;
	--figma-color-border-brand-strong: #7cc4f8;
	--figma-color-border-component: #652ca8;
	--figma-color-border-component-hover: #8a38f5;
	--figma-color-border-component-strong: #d6b6fb;
	--figma-color-border-danger: #963323;
	--figma-color-border-danger-strong: #fca397;
	--figma-color-border-disabled: #444444;
	--figma-color-border-disabled-strong: #ffffff66;
	--figma-color-border-onbrand: #0a6dc2;
	--figma-color-border-onbrand-strong: #ffffff;
	--figma-color-border-oncomponent: #7a2ed6;
	--figma-color-border-oncomponent-strong: #ffffff;
	--figma-color-border-ondanger: #c4381c;
	--figma-color-border-ondanger-strong: #ffffff;
	--figma-color-border-onselected: #667799;
	--figma-color-border-onselected-strong: #ffffffe5;
	--figma-color-border-onsuccess: #078348;
	--figma-color-border-onsuccess-strong: #ffffff;
	--figma-color-border-onwarning: #e4a711;
	--figma-color-border-onwarning-strong: #000000e5;
	--figma-color-border-selected: #0c8ce9;
	--figma-color-border-selected-strong: #7cc4f8;
	--figma-color-border-strong: #ffffffe5;
	--figma-color-border-success: #0a5c35;
	--figma-color-border-success-strong: #79d297;
	--figma-color-border-warning: #925711;
	--figma-color-border-warning-strong: #f7d15f;
	--figma-color-icon: #ffffff;
	--figma-color-icon-brand: #7cc4f8;
	--figma-color-icon-brand-pressed: #0c8ce9;
	--figma-color-icon-brand-secondary: #0a6dc2;
	--figma-color-icon-brand-tertiary: #394360;
	--figma-color-icon-component: #d1a8ff;
	--figma-color-icon-component-pressed: #d6b6fb;
	--figma-color-icon-component-secondary: #7f699b;
	--figma-color-icon-component-tertiary: #7f699b;
	--figma-color-icon-danger: #e03e1a;
	--figma-color-icon-danger-hover: #fbbcb6;
	--figma-color-icon-danger-pressed: #fbbcb6;
	--figma-color-icon-danger-secondary: #e03e1a;
	--figma-color-icon-danger-secondary-hover: #e03e1a;
	--figma-color-icon-danger-tertiary: #e03e1a;
	--figma-color-icon-disabled: #ffffff66;
	--figma-color-icon-hover: #ffffff;
	--figma-color-icon-onbrand: #ffffff;
	--figma-color-icon-onbrand-secondary: #ffffffcc;
	--figma-color-icon-onbrand-tertiary: #ffffff66;
	--figma-color-icon-oncomponent: #ffffff;
	--figma-color-icon-oncomponent-secondary: #ffffffcc;
	--figma-color-icon-oncomponent-tertiary: #ffffff66;
	--figma-color-icon-ondanger: #ffffff;
	--figma-color-icon-ondanger-secondary: #ffffffcc;
	--figma-color-icon-ondanger-tertiary: #ffffff66;
	--figma-color-icon-ondisabled: #2c2c2c;
	--figma-color-icon-oninverse: #000000e5;
	--figma-color-icon-onselected: #ffffff;
	--figma-color-icon-onselected-secondary: #ffffffb2;
	--figma-color-icon-onselected-strong: #ffffff;
	--figma-color-icon-onselected-tertiary: #ffffff66;
	--figma-color-icon-onsuccess: #ffffff;
	--figma-color-icon-onsuccess-secondary: #ffffffcc;
	--figma-color-icon-onsuccess-tertiary: #ffffff66;
	--figma-color-icon-onwarning: #000000e5;
	--figma-color-icon-onwarning-secondary: #00000080;
	--figma-color-icon-onwarning-tertiary: #0000004d;
	--figma-color-icon-pressed: #0a6dc2;
	--figma-color-icon-secondary: #ffffffb2;
	--figma-color-icon-secondary-hover: #ffffff;
	--figma-color-icon-selected: #7cc4f8;
	--figma-color-icon-selected-secondary: #7cc4f8;
	--figma-color-icon-selected-tertiary: #7cc4f8;
	--figma-color-icon-success: #198f51;
	--figma-color-icon-success-pressed: #a1e8b9;
	--figma-color-icon-success-secondary: #198f51;
	--figma-color-icon-success-tertiary: #198f51;
	--figma-color-icon-tertiary: #ffffff66;
	--figma-color-icon-tertiary-hover: #ffffff;
	--figma-color-icon-warning: #f3c11b;
	--figma-color-icon-warning-pressed: #f7d15f;
	--figma-color-icon-warning-secondary: #f3c11b;
	--figma-color-icon-warning-tertiary: #f3c11b;
	--figma-color-text: #ffffff;
	--figma-color-text-brand: #7cc4f8;
	--figma-color-text-brand-secondary: #7cc4f8;
	--figma-color-text-brand-tertiary: #7cc4f8;
	--figma-color-text-component: #d1a8ff;
	--figma-color-text-component-pressed: #d6b6fb;
	--figma-color-text-component-secondary: #7f699b;
	--figma-color-text-component-tertiary: #7f699b;
	--figma-color-text-danger: #fca397;
	--figma-color-text-danger-secondary: #fca397;
	--figma-color-text-danger-tertiary: #fca397;
	--figma-color-text-disabled: #ffffff66;
	--figma-color-text-hover: #ffffff;
	--figma-color-text-onbrand: #ffffff;
	--figma-color-text-onbrand-secondary: #ffffffcc;
	--figma-color-text-onbrand-tertiary: #ffffff66;
	--figma-color-text-oncomponent: #ffffff;
	--figma-color-text-oncomponent-secondary: #ffffffcc;
	--figma-color-text-oncomponent-tertiary: #ffffff66;
	--figma-color-text-ondanger: #ffffff;
	--figma-color-text-ondanger-secondary: #ffffffcc;
	--figma-color-text-ondanger-tertiary: #ffffff66;
	--figma-color-text-ondisabled: #2c2c2c;
	--figma-color-text-oninverse: #000000e5;
	--figma-color-text-onselected: #ffffffe5;
	--figma-color-text-onselected-secondary: #ffffffb2;
	--figma-color-text-onselected-strong: #ffffff;
	--figma-color-text-onselected-tertiary: #ffffff66;
	--figma-color-text-onsuccess: #ffffff;
	--figma-color-text-onsuccess-secondary: #ffffffcc;
	--figma-color-text-onsuccess-tertiary: #ffffff66;
	--figma-color-text-onwarning: #000000e5;
	--figma-color-text-onwarning-secondary: #00000080;
	--figma-color-text-onwarning-tertiary: #0000004d;
	--figma-color-text-secondary: #ffffffb2;
	--figma-color-text-secondary-hover: #ffffff;
	--figma-color-text-selected: #7cc4f8;
	--figma-color-text-selected-secondary: #7cc4f8;
	--figma-color-text-selected-tertiary: #7cc4f8;
	--figma-color-text-success: #79d297;
	--figma-color-text-success-secondary: #79d297;
	--figma-color-text-success-tertiary: #79d297;
	--figma-color-text-tertiary: #ffffff66;
	--figma-color-text-tertiary-hover: #ffffff;
	--figma-color-text-warning: #f7d15f;
	--figma-color-text-warning-secondary: #f7d15f;
	--figma-color-text-warning-tertiary: #f7d15f;
}
